a { color:blue;}

#container {
	max-width:1000px;
	margin:0px auto;
	text-align:center;
	padding: 10px;
}

header #logoDiv {
	float:left;
	width:210px;
}

header h1 {
	font-size:26px;
	height:30px;
	margin-bottom:0px;
	padding-bottom:0px;
}

header h1 span {
	color:#1c5480;
}

header h2 {
	text-align:justify;
	text-transform:uppercase;
	font-size:10px;
	width:100%;
	margin-top:0px;
}

#accordion {
	clear:both;
	float:left;
}

#accordion section {
	text-align:left;
	width:820px;
}

#accordion section h1 {
	cursor:pointer;
	border:1px #8E59EF solid;
	border-radius:5px;
	background-color:#f1f1f1;
	padding:2px;
}

#accordion section p {
	display:none;
}


.fulljustify {
  text-align: justify;
}

.fulljustify:after {
  content: "";
  display: inline-block;
  width: 100%;
}

section h1 span {
	float:right;
	display:block;
	position:relative;
}

section h1 span img {
	margin-top:7px;
	margin-right:10px;
}

section h1 span img.open {
	float:right;
	position:absolute;
	clip: rect(0px,15px,7px,0px);
	right:0px;
	margin-top:14px;
}

section h1 span img.closed {
	float:right;
	position:absolute;
	clip: rect(8px,15px,15px,0px);
	right:0px;
	margin-top:7px;
}
